
#hello {
   
    color:black;

    
    
    


}
#elyu{
    width:4.62in;
    height:4.67in;
  
}
#under {
    width:4.67in;
    height:4.67in;
}
#intro1 {
    text-align: center;
}